*{
    margin: 0px;
}

body{
    margin: 0px;
    font-family: Arial, sans-serif;
    background-color: #f5f7fa;
}

header{
    width: 100vw;
    padding:100px;
    background-color:#1e3a5f ;
    color: whitesmoke;
    border-bottom: 5px solid peru;
    text-align: center;
}

header h1{
    margin-bottom: 10px;
    font-size: 42px;
}

main{
    width: 80%;
    margin:45px auto;
}

.intro {
    border: 2px solid  #d9e2ec;
    background-color: white;
    padding: 30px;
}

.intro h2{  
    font-size: 32px;
    color: #1e3a5f;
    margin-bottom: 15px;
}

.intro p{
    font-size: 18px;
    line-height: 1.7;
    margin-top: 5px;
}

.cards-section{
    width: 100%;
    margin-top: 45px;
}

.cards-section h2{
    text-align: center;
    color: #1e3a5f;
}

.cards{
    display: flex;
    margin-top: 30px;
    gap: 50px;   
}

.card{
    width: 33%;
    border-top: 5px solid orangered;
    border-bottom: 2px solid #d9e2ec ;
    border-left: 2px solid #d9e2ec;
    border-right: 2px solid #d9e2ec;
    background-color: white;
    padding: 35px;
}

.card h3{
    font-size: 25px;
    margin: 20px 5px;
    color: orange;
}

.card p{
    font-size: 20px;
    color: gray;
    width: 80%;
    word-spacing: 3px;
    line-height: 1.6;
    margin-bottom: 30px;
}

.featured{
    border: 3px solid #2a9d8f;
    background-color: #264653;
    margin-top: 45px;
    padding:60px 30px;
    color: white; 
}

.featured h2{
    font-size:32px;
    margin-bottom: 20px;
}

.featured p{
    font-size: 18px;
    line-height: 1.6;
}

footer{
    margin-top: 45px;
    height: 120px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1e3a5f;
    box-sizing: border-box;
    padding: 40px;
    color: white;
    border-top:5px solid peru;
}

footer p{
    font-size: 20px;
}